<div class="container">
 <div class="row">
   <div class="mx-auto">
   <h1>Welcome to <i class="fas fa-book"></i>Bookers!!</h1>
   <p>In <i class="fas fa-book"></i>Bookers,</p>
   <p>you can share and exchange your opinions, impressions, and emotions</p>
   <p>about various books!</p>
  
   <%= link_to "Log in", new_user_session_path, class:"btn btn-block btn-info" %>

  
   <%= link_to "Sign up", new_user_registration_path, class:"btn btn-block btn-success" %>
  
  </div>
 </div>
</div>